.ipynb_checkpoints/
.idea/
credentials/
cache/
images/
models/
__pycache__/
data/
feature_data/
input/
input/backup_data/
ref_scripts/
reference_script/
temp_submissions/
bo_data/
backup/
experiment/
project_tools/__pycache__/
submissions/
audios/
contract/
.env
*.csv
*.zip
*.gz
*.model
*.h5
*.gif
*.png
*_intermedia_save*
*.bmp
*.hdf5
*.mp4
*.pth
*.xlsx
*.pyc
*.xlsx
*.pptx
*.bin
*.TIF
*.tif
*.txt
*.pt
*.json
x302_dev

*.yaml

mlruns/

notebook/logs/
